*
  box-sizing: border-box
body
  margin: 0
  padding: 130px 0 0 0
  background: aliceblue
a
  color: orange
ul
  list-style: none
  padding-left: 0
header
  background: black
  position: fixed
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 1px 3px white
  text-align: center
  h1
    color: white
    width: auto
  nav 
    display: block
    width: 100%
  nav ul
    display: block
    margin: 0
    height: 40px
    li
      display: inline-block
      a
        color: white
        text-decoration: none
        padding: 10px 15px
        margin-left: 15px
        height: 100%
        border: 1px solid wheat
        border-radius: 4px
        &:hover
          background: wheat
          color: black
.PageContent
  display: block
  width: 80%
  max-width: 1000px
  margin: 0 auto
  h2
    text-align: center
    font-size: 2em
    border-bottom: 1px solid grey
  .thisContent
    line-height: 140%
    font-size: 1.2em
    h3
      margin: 0
.card
  background: white
  border: 1px solid grey
  border-radius: 7px
  padding: 10px
  box-shadow: 0 3px 2px grey
.row
  display: flex
  width: 100%
.column
  display: flex
  flex-direction: column
  float: left
  padding: 10px
  &:first-child
    border-right: 1px solid grey
  > *
    display: block
.col4
  width: 33%
.col6
  width: 50%
.col8
  width: 66%
.sidebar
  background: #000
  border-radius: 0 15px 0 15px
  border-right: 0
footer
  display: block
  clear: both
  width: 100%
  background: orange
  color: black
  text-align: center
  padding: 20px
  margin-top: 30px